<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container">
    <a class="navbar-brand" href="../index.html">
      <img src="../assets/img/logo.png" alt="Logo D'EMI Automotriz" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Menú">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/servicios.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/vehiculos.html">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
